*
!.gitignore
!.gitmodules
!README.md
!agents
!agents-cli
!andromeda
!archive
!archive/*
!experience
!Fabrica
!media-streamer
!mssgs
!personal-assistant
!private
!rommie
!singularity
!skye
!template-bot
!template-cli
!template-mono
!template-repo
!template-web
!vibe-bot
!vsc-utils
!yacht
