*
!.gitignore
!.gitmodules
!README.md
!Fabrica
!Private
!Research
!Wiki
!agents
!agents/*
!agents/avatars/*
!agents/plugins/*
!archive
!archive/*
!media-streamer
!mssgs
!singularity
!templates
!templates/*
!vsc-utils
!yacht
